html, body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #FFF0A7;
}

.hidden { display: none !important; }

#header {
  position: sticky;
  top: 0;
}

#menu {
  padding: 5px;
  border-bottom: 2px solid #000;
}
#menu > .rhs { float: right; }
#menu, #menu input, #menu select, #menu button {
  background-color: #181008;
  color: #FFF;
  border-color: #3E2A14;
}
#menu input:focus { outline: none; }

#error {
  background-color: #F00;
  color: #FFF;
  padding: 3px;
  display: flex;
  justify-content: space-between;
}
#error > span.msg {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 98%;
}
#error > button.clear {
  border: 0;
  background-color: inherit;
  color: inherit;
  cursor: pointer;
}

#note {
  border: 0;
  margin: 0;
  padding: 5px;
  width: calc(100% - 10px); /* 10px = 2x padding */
  height: calc(100% - 10px); /* 10px = 2x padding */
  min-height: calc(100vh - 34px - 10px); /* 34px = #menu.height, 10px = 2x padding */
  resize: none;
  white-space: pre;
  font-size: 13px;
  font-family: monospace;
}
#note:focus { outline: none; }